@import "./scss/mixins.scss";

//
* {
  margin: 0;
  padding: 0;
  @include prefix(box-sizing, border-box);
}

:root {
  --bg: linear-gradient(90deg, rgba(9, 47, 110, 1) 0%, rgba(34, 139, 217, 1) 100%);
  --font: #ffffff;
  --bg: #092e6d;
  --s-bg: #228bd9;
  --t-bg: #111;
  --space: #1d2951;
  --trans: 0.3s;
}

body {
  background-image: url('../imgs/horoscope_bg.png');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-color: var(--t-bg);
  color: var(--font);
  font-family: 'Archivo Narrow', sans-serif;
  letter-spacing: 1px;
  text-transform: capitalize;
  line-height: 1.6;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @include min-small {
    width: 750px;
  }

  @include min-medium {
    width: 970px;
  }

  @include min-large {
    width: 1170px;
  }
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

// 
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;

  .screen {
    background-color: var(--space);
    padding: 20px;
    font-size: 17px;
    max-width: 90%;

    span {
      color: var(--s-bg);
    }

    @include max-mobile {
      text-align: center;

    }
  }
}

// 
header {
  background-color: rgba(0, 0, 0, 0.5);

  .container {
    padding: 10px 0;

    .logo {
      width: fit-content;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      height: 70px;

      img {
        max-height: 100%;
      }

      span {
        font-size: 20px;
        font-weight: bold;
      }

      @include max-mobile {
        height: 40px;

        span {
          font-size: 14px;
        }
      }
    }
  }
}

//
main {
  padding: 100px 0;
  min-height: calc(100vh - 170px);

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;

    .text {
      h2 {
        font-size: 40px;
        letter-spacing: 2px;
        margin-bottom: 20px;
      }

      p {
        font-size: 17px;
        margin-top: 10px;
      }

      @include max-mobile {
        h2 {
          font-size: 30px;
        }

        p {
          font-size: 14px;
        }
      }
    }

    .form {
      min-width: 40%;

      h3 {
        font-size: 25px;
        margin-bottom: 20px;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 20px;

        input {
          background: none;
          border: none;
          outline: none;
          padding: 10px;
          border-bottom: 1px solid var(--bg);
          caret-color: var(--s-bg);
          color: var(--font);
          text-transform: capitalize;

          &::placeholder {
            transition: var(--trans);
          }

          &:focus::placeholder {
            opacity: 0;
          }

          &:focus {
            border-color: var(--s-bg);
          }
        }

        button {
          background: var(--bg);
          color: var(--font);
          border: none;
          outline: none;
          padding: 7px 15px;
          border-radius: 6px;
          cursor: pointer;
          transition: var(--trans);

          &:hover {
            background-color: var(--s-bg);
          }
        }

        .date {
          text-transform: none;
          color: #777;

          &:focus {
            color: var(--font);
          }

          &::after {
            color: red;
          }
        }
      }

      @include max-mobile {
        width: 90%;

        h3 {
          font-size: 20px;
        }


      }
    }

    @include max-mobile {
      flex-direction: column;
      text-align: center;
    }
  }
}

// 
footer {
  padding: 20px 0;
  box-shadow: 0px -8px 10px -8px rgba(255, 255, 255, 0.3);

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .social {
      display: flex;
      gap: 10px;

      .icons {
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 17px;

        a {
          i {
            transition: var(--trans);
            color: var(--s-bg);

            &:hover {
              transform: scale(1.1);
              color: var(--bg);
            }
          }
        }
      }


    }

    .copyright {
      span {
        color: var(--s-bg);
        font-weight: bold;
      }
    }

    @include max-mobile {
      flex-direction: column;
      gap: 10px;
      text-align: center;

      .social {
        flex-direction: column;
      }
    }
  }
}